# =============== #
# Unity generated #
# =============== #
Library/
Temp/
Obj/
Build/
Builds/
UnityGenerated/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
Assets/UnityVS/
